$_img-blur-size: 2px;

@each $name, $color in $colors {
  .bg--#{$name} {
    background-color: $color !important;
  }

  .bg--bottom-third-#{$name} {
    background-image: linear-gradient(to top, $color 0, transparent 66%);
  }
}

.bg--gradient {
  background-image: linear-gradient(to right,
          $color-gradient-outside 10%,
          $color-gradient-inside 50%,
          $color-gradient-outside 90%);
}

.bg--grid {
  @include grid();

  .bg-elements & {
    mix-blend-mode: overlay;
    opacity: .4;
  }
}

.bg--grid-small {
  @include grid('sm');
}

.bg-elements .bg--img {
  background-image: url(/images/ezra-ball.png);
  background-size: cover;
  background-position: 50%;
  mix-blend-mode: hard-light;
  filter: blur($_img-blur-size);
  top: -$_img-blur-size * 2;
  right: -$_img-blur-size;
  bottom: -$_img-blur-size;
  left: -$_img-blur-size;
}

.bg-elements .bg--gallery {
  right: -$_img-blur-size * 2;
}

.bg-elements .bg--img + .bg--grid {
  opacity: .8;
}
.bg-elements.bg--white .bg--grid {
  opacity: 1;
}

.bg--inner-shadow {
  background-image: linear-gradient(to top, rgba(0,0,0,.2) 0, transparent 100%);
  box-shadow: inset 0 0 80px rgba(0,0,0,.3);
}

.bg-elements,
.bg-elements > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}