// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Basic styles for links
 */
a {
  color: $color-bright-text;
  text-decoration: none;

  @include on-event {
    color: $color-bright-darker;
    text-decoration: underline;
  }
}

/**
 * Flexbox grid container needs padding for the rows to work right
 */
.container {
  padding-left: .5rem;
  padding-right: .5rem;
}


section {
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

time {
  display: block;
}