.page--player-list {
  ul.player-list {
    position: relative;
    columns: 3 250px;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: $gap-large;

    li {
      margin-bottom: $gap;
    }
  }
}