/_assets/
/vendor/
/node_modules/
/bower_components/
/mailoutput/
/public/storage/
/public/build/
/public/js/
!/public/js/modernizr.custom.js
/public/css/main.css
Homestead.yaml
Homestead.json
.env
*.map