/_assets/
/vendor/
/node_modules/
/bower_components/
/mailoutput/
/public/storage/
/public/build/
/public/js/
!/public/js/modernizr.custom.js
/public/css/main.css
/public/note_imgs/
Homestead.yaml
Homestead.json
.env
*.map
storage/sites/
!storage/sites/domain.json