// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.page-header {
  padding: $gap-extra-extra-large * 2.5 0;

  h1 {
    @include text-shadow();
    color: $color-white;
    font-size: em(80);
  }

  h2 {
    @include text-shadow();
    color: $color-white-darker;
    font-size: em(40);
  }

  &.header--small {
    padding: $gap-extra-extra-large 0;
  }

  .text--muted {
    color: darken($color-white, 25);
  }
}