.album-list {
  @include responsive(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.album-list .photo-album {
  height: 200px;
  margin: 15px;
  position: relative;

  @include responsive(sm) {
    min-width: 40%;
  }

  @include responsive(md) {
    min-width: 30%;
  }
}