.card {
  @include box-shadow();
  position: relative;
  margin-bottom: $gap-large;

  &.card--no-shadow {
    box-shadow: none;
  }

  header {
    text-align: center;
    color: $color-white;
    background-color: $color-white-darker;
    padding: $gap-extra-large;

    &.has-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      font-size: em(30);
      line-height: .8em;
      margin-top: 3px; // ?


      small {
        font-size: .5em;
        line-height: .5em;
        vertical-align: middle;
      }
    }
  }

  .body {
    position: relative;
    color: $color-black-lighter;
    padding: $gap-large $gap-extra-extra-large;
    background: $color-white-bg;
    z-index: 1;

    ul {
      list-style: none;
      padding-left: 0;

      li + li {
        padding-top: $gap-large;
        border-top: 1px solid $color-smoke;
        margin-top: $gap-large;

        i.fa {
          color: $color-white-darker;
          margin-right: $gap-small;
        }
      }
    }
  }

  table.body {
    width: 100%;
    padding: 0;
    margin-bottom: 0;

    tr > td,
    tr > th {
      &:first-child {
        padding-left: $gap-extra-large !important;
      }
      &:last-child {
        padding-right: $gap-extra-large !important;
      }
    }
  }

  > footer {
    background: $color-white-darker;
    padding: $gap;

    &.btn-group {
      padding: 0;
      border-top: 1px solid $color-white-darker;
      border-bottom: 1px solid $color-white-darker;
    }
  }
}