.full-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.full-gallery a {
  display: flex;
  flex: 1 1 30%;
  // width: 200px;
  // height: 200px;
  border: 1px solid #eee;
  padding: .5em;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: $gap;

  @include responsive(md) {
    flex: 1 1 20%;
  }
}

.full-gallery a img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.full-gallery a:hover {
  background: $color-accent;
  border-color: darken($color-accent, 5);
}