.page--game {
  position: relative;
  z-index: 1;
}

.recap-loader {
  padding: $gap-extra-extra-large;
  text-align: center;

  .loading {
    @include box-shadow();
    width: 200px;
    padding: $gap-extra-extra-large;
    border-radius: $border-radius;
    margin: $gap-extra-large auto;

    .loader {
      margin-bottom: $gap-large;
    }
  }
}

.recap-quarter {
  text-align: center;
  // make padding bigger to account for the scores overlap
  padding-top: $gap-extra-extra-large;
  padding-bottom: $gap-extra-extra-large;

  // except for the top of the first one
  .page--game .recap > div:first-child .quarter-holder & {
    padding-top: $gap-large;
  }

  .update {
    margin: $gap-extra-large 0;

    .msg {
      margin: 0;
      font-size: em(18);
      font-weight: bold;
      letter-spacing: -.02em;
    }

    .meta {
      span,
      time {
        vertical-align: middle;
      }

      .score {
        color: greyscale(47);
      }

      time {
        display: inline-block;
        font-size: em(14);
        color: greyscale(71);
      }

      .share-btns {
        display: block;

        a {
          font-size: 1.5em;
          padding: .25em;
          color: rgba(0,0,0,.2);
          transition: all .25s ease;

          &:hover {
            color: rgba(0,0,0,.4);
          }
        }
      }

      @include responsive('md') {
        time {
          margin: 0 .25em;
        }

        .share-btns {
          display: inline-block;

          a {
            font-size: 1em;
            padding: 0;

            & + a {
              margin-left: .25em;
            }
          }
        }
      }

    }
  }
}

.recap-quarter-score {
  position: relative;

  .card {
    margin: -$gap-large $gap;

    @include responsive(sm) {
      margin: -$gap-large 0;
    }

    .score h2 {
      font-size: 1.2em;
    }
  }

  .recap-quarter-status {
    @include heading();
    display: none;
    font-size: em(24);
    color: $color-white;
    position: relative;
    opacity: .5;

    @include responsive(sm) {
      display: block;
    }
  }
}