$_accent-width: 100px;

header {
  position: relative;

  &.divider {
    text-align: center;
  }

  &.divider--bottom {
    position: relative;

    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid;
      width: 100%;
      margin: 0 auto;

      @include responsive('md') {
        width: 60%;
      }
    }

    h1::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -$_accent-width / 2;
      bottom: -2px;
      width: $_accent-width;
      border-bottom: 5px solid $color-accent;
    }
  }

  &.divider--inline {
    h1::before,
    h1::after {
      content: '';
      display: inline-block;
      position: relative;
      vertical-align: middle;
      top: -4px;
      width: 15%;
      border-bottom: 1px solid;
      margin: 0 $gap-small;
    }
  }
}