// http://tympanus.net/codrops/2013/08/13/multi-level-push-menu/
// with changes

$_overlap-offset: 40px;
$_bg: $color-primary_bg;
$_back-icon: $fa-var-chevron-right;

html,
body,
#mp-container,
.scroller {
  height: 100%;
}

.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}

#mp-container {
  position: relative;
  overflow: hidden;
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
  perspective: 1000px;
}

.mp-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
}

.mp-level {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
  background: rgba(0,0,0,0.3);
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
  z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
  cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-level.mp-level-overlay header .mp-close {
  display: none;
}

.mp-pusher,
.mp-level {
  transition: transform 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  transform: translate3d(-$_overlap-offset, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.mp-menu header {
  position: relative;
  z-index: -1;
  flex: 0 0 auto;
}

.mp-menu h2 {
  margin: 0;
  flex: 0 0 auto;
}

.mp-level > .icon {
  position: absolute;
  top: 1.75em;
  right: 0;
  width: $_overlap-offset;
  text-align: center;
  font-size: .75em;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s, transform 0.1s 0.3s;
}

.mp-overlap .mp-level.mp-level-overlay > .icon {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s, opacity 0.3s;
}

.mp-menu ul li > a {
  display: block;
  outline: none;
  transition: background 0.3s;
}

.mp-back {
  position: relative;
  display: block;
  padding: 1em;
  outline: none;
  transition: background 0.3s;
  flex: 0 0 auto;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block;
}