// make room for fixed nav
.scroller-inner {
  padding-top: 85px;
}

.main-menu {
  @include box-shadow();
  @include grid();
  background-color: $color-dark-bg;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: $gap $gap-large;
  z-index: 99999;
  transition: all .5s;

  div {
    margin-right: $gap;
  }

  &.ghosted {
    background: none;
    box-shadow: none;
    opacity: .5;

    &:hover {
      @include grid();
      background-color: $color-dark-bg;
      opacity: 1;
    }
  }

  @include responsive('lg') {
    padding: 0 $gap-large;
  }
}

#trigger {
  color: $color-white;
  padding: $gap;
  font-size: 1.5em;
  cursor: pointer;

  @include responsive('lg') {
    display: none;
  }

  .warning-indicator {
    @include warningIndicatorPinned();
  }
}

.nav-brand {
  margin-left: $gap;

  h1 {
    @include text-shadow();
    font-size: em(42);
  }

  a {
    @include on-event() {
      color: $color-white;
      text-decoration: none;
    }
  }
}

#desktop-menu {
  display: none;
  flex: 1;


  @include responsive('lg') {
    display: block;
  }

  & > ul{
    display: flex;
    align-items: stretch;
    font-family: $heading-font-stack;
    font-size: em(22);
    text-transform: uppercase;

    & > li {
      margin: 0 $gap;
      @include on-event() {
        background: $color-primary-darker;
      }

      & > a,
      & > label {
        display: block;
        color: $color-white;
        padding: $gap-extra-large $gap-large;
        font-weight: normal;
        margin: 0;

        @include on-event {
          text-decoration: none;
        }
      }
    }
  }

  .has-subs {
    position: relative;

    &.subs--super {
      position: static;

      > section {
        width: 100%;
        border-radius: 0;
      }

      &:hover > section {
        padding: 2em 2em 3em 2em;
      }
    }

    &.subs--right {
      section {
        left: auto;
        right: 0;
        text-align: right;
      }
    }

    > section {
      @include grid();
      display: none;
      justify-content: space-around;
      position: absolute;
      left: 0;
      background-color: $color-black-bg;
      z-index: 100;
      padding: 0 2em;
      box-shadow:
        inset 0 2px 5px rgba(0,0,0,.5),
        0 2px 5px rgba(0,0,0,.5);
      border-radius: 0 0 2px 2px;
      transition: all .5s;

      li {
        line-height: .8em;
        margin-bottom: .6em;

        a {
          font-family: $text-font-stack;
          font-size: 1rem;
          text-transform: none;
          color: $color-bright-muted;

          @include on-event() {
            color: $color-bright;
          }
        }
      }
    }

    &:hover > section {
      display: flex;
      padding: 1em 2em;
    }
  }

  .player-list {
    header {
      margin-bottom: $gap;

      h4 {
        color: $color-white-darker;
      }
    }

    .team--STAFF ul {
      columns: 1;
    }
  }


  .seasons {
    margin-left: auto;
    opacity: .3;
    transition: all .5s;

    &:hover,
    &.seasons--not-current {
      opacity: 1;
    }

    label {
      .warning-indicator {
        margin-right: .25em;
      }

      span {
        display: inline-block;
        margin-left: .25em;
      }
    }

    li .fa.current-indicator {
      position: absolute;
      margin-left: -1.75em;
      margin-top: .075em
    }
  }

}

// drop the opacity for the active season
li.seasons {
  li.season--active {
    opacity: .5;
    pointer-events: none;
  }
}