.card .player-articles-body {
  padding: 0;

  > article {
    padding: $gap-large;
    background-color: $striped-base-color;

    h2 {
      line-height: 1.2em;
    }

    time {
      font-size: em(14);
      letter-spacing: -.02em;
      color: $color-white-darker;
    }

    p {
      margin: $gap 0 0 0;
    }

    &:nth-child(even) {
      background-color: $striped-other-color;
    }
  }
}