$_edge-padding: 20px;

table.schedule {
  table-layout: fixed;

  // fake border radius for the table
  & > thead > tr:first-child {
    & > th:first-child {
      border-radius: 4px 0 0 0;
    }

    & > th:last-child {
      border-radius: 0 4px 0 0;
    }
  }

  & > tbody > tr:last-child {
    & > td:first-child {
      border-radius: 0 0 0 4px;
    }

    & > td:last-child {
      border-radius: 0 0 4px 0;
    }
  }

  & > thead {

    & > tr > th {
      font-size: em(24);
      padding: $gap-bigger;
    }

    .schedule-type {
      width: 100px;
    }
  }

  tbody {
    letter-spacing: -.04em;

    td {
      padding: $gap-large;
    }
  }

  tr > th:first-child,
  tr > td:first-child {
    padding-left: $_edge-padding;
  }

  tr.in-tournament > td:first-child {
    padding-left: $_edge-padding * 2;
  }

  .schedule-type,
  .schedule-team,
  .schedule-result,
  .schedule-score {
    text-align: center;
  }

  td.schedule-type {
    color: lighten(grey, 20);

    .fa-square {
      font-size: .85em;
    }
  }

  .schedule-date {
    width: 15%;
    white-space: nowrap;
  }

  .schedule-team {
    width: 100px;
  }

  .schedule-title {
    width: 25%;
  }

  .schedule-location {
    white-space: nowrap;
  }

  .schedule--win {
    color: $color-win-text;
  }
  .schedule--loss {
    color: $color-loss-text;
  }
  .schedule--tie {
    color: $color-tie-text;
  }

  > tbody > .schedule-today td {
    @include heading();
    font-size: em(22);
    letter-spacing: .02em;
    line-height: .8em;
    padding: $gap-small * 1.5 $gap-small $gap-small;
    color: $color-white;
    background-color: $color-bright-accent;
    text-align: center;
  }

  // collapsible tweaks
  @media (max-width: map-get($breakpoints, 'lg')) {
    // redo strip handling
    tbody > tr:nth-of-type(even) {
      background-color: $striped-other-color;

      & > td {
        background-color: transparent;
      }
    }




  }
}