.page-section {
  padding-top: $gap-large;
  padding-bottom: $gap-large;

  & > header,
  & > .container > header {
    margin-top: -$gap-large;
    margin-bottom: $gap-extra-extra-large;

    h1 {
      font-size: em(72);
      padding: $gap 0;
    }
  }
}