a.shareable {
  cursor: pointer;
}

.shareable-holder {
  @include pinned;
  display: flex;
  flex-direction: column;

  .backdrop {
    @include pinned;
    background: rgba(0,0,0,.8);
  }

  .shareable-image-holder {
    flex: 1 0 auto;
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 1em;

    .loader {
      top: 40vh;
    }

    img {
      @include pinned;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      pointer-events: all;
    }
  }

  .shareable-sizer {
    position: relative;
    text-align: center;

    input {
      display: none;
    }

    label {
      display: inline-block;
      font-size: 1.8em;
      padding: .25em;
      margin: 0;
      font-weight: normal;
      cursor: pointer;
      color: $color-black-lighter;
      transition: all .5s ease;
    }

    input:checked + label {
      &.instagram {
        color: deeppink;
      }

      &.snapchat {
        color: yellow;
      }
    }
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
  }


}