.subscribe-modal .body p {
  margin-top: 0;
}

.subscribe-providers {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  top: $gap;


  li {
    flex: 1;
    text-align: center;
    line-height: 1.1em;
    margin-bottom: $gap;

    a {
      display: inline-block;
      padding: $gap;
      color: $color-black-lighter;
      transition: all .25s ease-in-out;

      @include on-event() {
        text-decoration: none;
        color: $color-bright-text;
      }


      i.fa {
        display: block;
        font-size: 2em;
        margin-bottom: $gap-small;
      }
    }
  }

}