$_active-border: 5px solid $color-accent;

nav.sub-nav {
  @include heading();
  position: relative;
  font-size: em(28);
  margin-top: $gap-small;

  li {
    display: inline-block;
    margin-right: $gap-extra-large;

    &.active a,
    &:hover a {
      border-bottom: $_active-border;
    }
  }

  a {
    color: $color-white;
    transition: all .3s;

    @include on-event() {
      text-decoration: none;
    }
  }

  i {
    margin-right: $gap-small;
    font-size: em(20, 28);
    vertical-align: middle;
    margin-top: -5px;
  }
}