aside.upcoming {
  background-color: $striped-base-color;
}

.upcoming-scroller {
  @include responsive(lg) {
    position: absolute;
    top: 67px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }
}

table.upcoming {

  tr.upcoming-day td {
    @include table-subhead();
  }

  .upcoming-time {
    width: 50px;
    white-space: nowrap;
  }

  .upcoming-team {
    color: $color-white-darker;
    text-align: center;
  }

  .upcoming-opponent {
    width: 45%;
  }

}