$colors: (
  primary: #32345d,
  accent: #f5d100,
  bright: #2a82c9,
  bright-accent: #92db00,
  bright-accent-alt: #f29800,
  dark: #32345d,
  win: #92db00,
  loss: #ea4d0f,
  tie: #f29800,
  white: #fff,
  smoke: #ececec,
  black: #000,
  dark-gray: greyscale(29)
);


$color-primary: map-get($colors, 'primary');
$color-primary-lighter: lighten($color-primary, 10);
$color-primary-darker: darken($color-primary, 5);
$color-primary-text: $color-primary;
$color-primary-bg: $color-primary;

$color-accent: map-get($colors, 'accent');
$color-accent-lighter: lighten($color-accent, 10);
$color-accent-darker: darken($color-accent, 10);
$color-accent-text: $color-accent;
$color-accent-bg: $color-accent;

$color-bright: map-get($colors, 'bright');
$color-bright-lighter: lighten($color-bright, 10);
$color-bright-darker: darken($color-bright, 10);
$color-bright-text: $color-bright;
$color-bright-bg: $color-bright;
$color-bright-muted: #6ba3d0;

$color-bright-accent: map-get($colors, 'bright-accent');
$color-bright-accent-lighter: lighten($color-bright-accent, 10);
$color-bright-accent-darker: darken($color-bright-accent, 10);
$color-bright-accent-text: $color-bright-accent;
$color-bright-accent-bg: $color-bright-accent;

$color-bright-accent-alt: map-get($colors, 'bright-accent-alt');
$color-bright-accent-alt-lighter: lighten($color-bright-accent-alt, 10);
$color-bright-accent-alt-darker: darken($color-bright-accent-alt, 10);
$color-bright-accent-alt-text: $color-bright-accent-alt;
$color-bright-accent-alt-bg: $color-bright-accent-alt;

$color-dark: $color-primary;
$color-dark-lighter: $color-primary-lighter;
$color-dark-darker: $color-primary-darker;
$color-dark-text: $color-primary-text;
$color-dark-bg: $color-primary-bg;

$color-win: map-get($colors, 'win');
$color-win-lighter: lighten($color-win, 10);
$color-win-darker: darken($color-win, 10);
$color-win-text: $color-win;
$color-win-bg: $color-win;

$color-loss: map-get($colors, 'loss');
$color-loss-lighter: lighten($color-loss, 10);
$color-loss-darker: darken($color-loss, 10);
$color-loss-text: $color-loss;
$color-loss-bg: $color-loss;

$color-tie: map-get($colors, 'tie');
$color-tie-lighter: lighten($color-tie, 10);
$color-tie-darker: darken($color-tie, 10);
$color-tie-text: $color-tie;
$color-tie-bg: $color-tie;

$color-white: #fff;
$color-white-lighter: lighten($color-white, 10);
$color-white-darker: darken($color-white, 25);
$color-white-text: $color-white;
$color-white-bg: $color-white;
$color-smoke: map-get($colors, 'smoke');

$color-black: #000;
$color-black-lighter: lighten($color-black, 50);
$color-black-darker: darken($color-black, 10);
$color-black-text: #58585a;
$color-black-bg: #333;

$color-gradient-outside: #030745;
$color-gradient-inside: #937d00;
